{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tedious Tasks</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <h1>Tedious Tasks</h1>
    {% if task_list|length == 0 %}
    <h3>No Tasks Exist</h3>
    {% else %}
    <table>
      <thead class="head">
        <th class="row">Description</th>
        <th class="row">Time</th>
        <th class="row">Person</th>
        <th class="row">Delete</th>
      </thead>
      <tbody>
        {% endif %} {% for task in task_list %}
        <tr>
          <td>{{ task.description }}</td>
          <td>{{ task.time }}</td>
          <td>{{ task.person }}</td>
          <td>
            <form action="{% url 'delete' task.id %}">
              <input
                style="delete"
                type="submit"
                value="X"
                class="pure-button"
              />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <form action="" method="POST" class="pure-form">
      <h4>Add Task</h4>
      {% csrf_token %} {{ task_form.as_p }}
      <input class="fun" type="submit" value="Add Task" class="submit-btn" />
    </form>
  </body>
</html>
